// backgrounds
$base-color: #ffffff;
$base-color-dark: #333333;
$base-color-light: #eeeeee;
// font colors
$font-color: #222222;
$font-color-light: #ffffff;
$font-color-mid: #656565;
$font-color-error: #e53935;
// gradients
$gradient: linear-gradient(to right, #e53935, #e35d5b);
// shadows
$card-shadow: 0px 20px 100px rgba(0,0,0,0.3);
$form-shadow: 0px 20px 30px rgba(0,0,0,0.1);
// form vars
$placeholder-color: #999999;
$slider-color: #eeeeee;
// font
$base-font: helvetica, arial;

