@import '../variables';

.form {
    &__container {
        width: 600px;
        max-width: calc(100% - 40px);
        margin: 0 auto;
        box-shadow: $form-shadow;
        border-radius: 10px;
        padding: 50px 45px;
        position: relative;
        display: block;
        top: 100px;
        border: 1px solid #fafafa;
        background: $base-color;

        form {
            label {
                display: block;
                color: $font-color-mid;
                font-size: 0.85rem;
                margin-top: 40px;

                &:first-of-type {
                    margin-top: 0px;
                }
            }

            input {
                width: 100%;
                display: block;
                height: 60px;
                line-height: 60px;
                border: unset;
                border-bottom: 1px solid #dddddd;
                outline: none;
                transition: all .2s;
                font-size: 1.2rem;
                color: $font-color;

                &:hover, :active, :focus  {
                    border-color: $placeholder-color;
                }

                &[type='date'] {
                    width: fit-content;
                    color: $placeholder-color;
                    &:focus, &.filled {
                        color: $font-color;
                    }
                }

                &::placeholder {
                    color: $placeholder-color;
                }

                &[type='range'] {
                    appearance: none;
                    background: $base-color-light;
                    height: 10px;
                    display: block;
                    margin: 20px 0px;
                    border-radius: 20px;
                    outline: none;
                    border: none;

                    &::-webkit-slider-thumb {
                        appearance: none;
                        background: $gradient;
                        border-radius: 100%;
                        height: 20px;
                        width: 20px;
                        transition: all .2s;
                        cursor: pointer;
                        
                        &:hover {
                            filter: brightness(1.1);
                        }
                    }
                }

                &:disabled {
                    opacity: 0.8;

                    &:not([type='range']) {
                        background: transparent;
                    }

                    &:hover {
                        border-color: #dddddd;
                    }
                }
        
            }

            button {
                width: 100%;
                height: 60px;
                line-height: 60px;
                border: unset;
                outline: none;
                transition: all .2s;
                font-size: 1.2rem;
                
                &[type='submit'] {
                    background: $gradient;
                    color: $base-color;
                    font-weight: 600;
                    border-radius: 10px;
                    font-size: 1rem;
                    margin-top: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    transition: all .2s;

                    &:disabled {
                        filter: saturate(0.7);
                        pointer-events: none;
                        cursor: not-allowed !important;

                        &:hover {
                            filter: brightness(1);
                        }
                    }

                    &:hover {
                        filter: brightness(1.2);
                    }
                }
            }

            .error__message {
                color: $font-color-error;
                font-size: 0.85rem;
                margin-top: 10px;
            }

            #input__slider_bubble {
                font-size: 18px;
                font-weight: 600;
                color: $font-color-mid;
                position: relative;
                border-radius: 4px;
                left: 50%;
                transform: translateX(-50%);
                display: inline-block;
            }
        }
    }
    &__section {
        margin-top: 150px;
        padding-bottom: 200px;
        background: $base-color-light;
    }
}

@media only screen and (max-width: 568px) {
    .form {
        &__container {
            padding: 40px 25px;
        }
    }
}